{% extends 'base.html' %}

{% block content %}
<main> 
    <div>
        <h1>My Tasks</h1> 
        <table>
            <thead>   
             <th>Name</th>
             <th>Assignee</th>
             <th>Start date</th>
             <th>Due date</th>
             <th>Is completed</th>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
                {% empty %}
                    <p>You have no tasks</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
